* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	justify-content: center;
	background: #333333;
}

.main-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
	box-shadow: 0px 50px 80px black;
}

.right_box {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	background: white;
	width: 70px;
	height: 100%;
}

.p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: black;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

.p-opacity {
	opacity: 0.5;
}

.p-opacity:hover{
	opacity: 1;
}

.p-scale:hover {
	color: #4d4700;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	background: url("../img/Group.svg") center/cover no-repeat;
	width: 100%;
	height: auto;
}

.img-case {
	width: 50%;
	height: auto;
	opacity: 0.5;
	padding: 150px 15px 15px 15px;
}


.logo-top {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 900;
	color: black;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 0px;
}

#switcher {
	position: absolute;
	left: -999999px;
	visibility: hidden;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 60px 50px 60px;
}

.menu {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: black;
	margin-top: 40px;
	margin-left: 20px;
}

.menu-link {
	padding: 18px;
	color: black;
}

.menu-link-active {
	color: white;
	background: black;
	border-radius: 50px;
	padding: 5px 20px 5px 20px;
}

.botton-href {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 70px;
}

.botton-href:hover {
	-webkit-transform: scale(0.9);
  	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.explore-link {
	color: #F0CDAC;
	background: #000000;
	font-size: 20px;
	border-radius: 50px;
	width: 230px;
	padding: 15px 35px 15px 35px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 50px 80px black;
}

.media-img {
	display: none;
}

i {
	color:black;
	font-size: 24px;
  }

@media (min-width: 798px) {
	label {
		display: none;
	}
}

@media (max-width: 797px) {
	.logo-top{
		padding-top: 10px;
		padding-left: 0px;
	}
	
	.right_box {
		justify-content: flex-start;
		width: 50px;
	}

	.img-case {
		padding: 150px 10px 10px 10px;
	}

	.p {
		font-size: 15px;
	}

	.main-content {
		background: #F0CDAC;
	}

	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 20px 20px 20px 20px;
	}

	.menu {
		display: flex;
		justify-content: center;
    	align-items: center;
    	flex-direction: column;
		height: 100vh;
		width: 100%;
		background-color: #333333;
		position: absolute;
		padding-top: 0;
		top: 0;
		left: 100%;
		transition: all 0.4s;
	}

	.menu-link {
		color: white;
		padding: 15px;
	}

	.menu-link-active {
		padding: 5px 20px 5px 20px;
	}

	.white {
		color:white;
	  }

	#open {
		display: block;
		padding-top: 10px;
		font-size: 40px;
	}

	#close {
		color: #fff;
		display: block;
		position: absolute;
		font-size: 40px;
		top: 40px;
		right: 20px;
	  }

	
	  #switcher:checked ~ .menu  {
		left: 0;
	  }

	.media-img {
		align-self: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
    	align-items: center;
		width: 100%;
		max-width: 500px;
		height: auto;
		margin: 10px 0px 10px 0px;
		border: black;
	}

	.explore-link {
		font-size: 15px;
		border-radius: 50px;
		width: 150px;
	}
}

@media (min-width: 1920px) {
	body {
		margin-top: 100px;
	}

	.main-box {
		width: 1995px;
		height: 1212px;
	}
}
